.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btnHome {
  position: absolute;
  top: 10px;
  right: 10px;
}

.FormBox {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: lavender;
}

.ReqFieldLabel {
  display: flex;
  justify-content: flex-end;
}

.btnSubmit {
  display: flex;
  justify-content: flex-end;
}

.TopBar{
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  height: 80px;
}

.btnAbout{
  position: absolute;
  right: 10px;
  top: 15px;
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.btnRate{
  position: absolute;
  right: 90px;
  top: 15px;
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.Title{
  position: absolute;
  left: 15px;
  top: 5px;
  color: aliceblue;
}

body{
  margin: 0px;
}

.NotesTitle{
  margin-left: 1.5rem;
  font-size: 150%;
}

.btnHome{
  position: absolute;
  right: 10px;
  top: 15px;
  height: 50px;
  width: 60px;
  cursor: pointer;
}

.ReviewCard{
  margin-bottom: 40px;
  width: 45%;
  background-color: lavender;
}

.ReviewContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResteSettings{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.DumSwitch{
  margin-bottom: 25px;
}